/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-heading {
  padding-top: 20px;
  font-family: 'Lobster';
}
.languages-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 50px;
}
.repository-items-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
